{{#if auth.isAuthenticated}}
<h3>New Post</h3>
<form {{action 'createPost' on='submit'}} >
  {{input value=newPost.title placeholder='Title'}}
  {{textarea value=newPost.content placeholder='Content'}}
  <button class="submit" type="submit">Publish</button>
  {{message}}
</form>
{{else}}
<h1>Sign in to Post</h1>
{{/if}}
