{{#if auth.isAuthenticated}}
<h3>New Post</h3>
<form {{action 'createPost' on='submit'}} >
  {{input value=newPost.title placeholder='Title'}}
  {{textarea class="new-post-content" value=newPost.content placeholder='Content'}}
  <button class="submit" type="submit">Publish</button>
  {{message}}
</form>
{{else}}
<h2 class="sign-in-to-post">sign in to post</h2>
{{/if}}
