<h1>{{post.title}}</h1>
<h3>{{post.content}}</h3>

<form {{action 'updatePost' on='submit'}} >
  {{input value=post.title placeholder='Title'}}
  {{input value=post.content placeholder='Content'}}
  <button type="submit">update</button>
</form>
