{{new-post-form createPost='createPost'}}

{{#each model as |post|}}

  <h4>{{#link-to 'post' post}} {{post.title}} {{/link-to}}</h4>
  <h5>{{post.content}}</h5>
  {{!-- BLOG POST SHOULD HAVE BEEN NAMED DELETE BUTTON --}}
  {{blog-post post=post}}

{{/each}}

{{outlet}}
